.orders{
    background-image: url(../../images/gtn-druzhba_logo13.png);
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}