body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url('../images/gtn-druzhba_logo13.png');
    background-repeat: repeat;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
}
.topImageBox{
    position: absolute;
    background-image: url('../images/topLogo.png');
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    height: 300px;
}

.boxForButtons{
    height: 70vh;
    width: 100vw;
    position: absolute;
    top: 340px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuButton{
    width: 200px;
    height: 200px;
    border: 1px solid #3b444b;
    border-radius: 100px;
    color: bisque;
    background-color: rgb(59, 68, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.boxForInfo, .boxForNormAct, .boxForOrder {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color:white;
    background-image: url('../images/gtn-druzhba_logo13.png');
    background-repeat: repeat;
    background-position: center;
    display: none;
    flex-direction: column;
}

.backButton, .backButtonYear, .backButtonMonth, .backButtonDocView{
    width: 100px;
    height: 50px;
    background-color:rgb(59, 68, 75);
    border-radius: 50px;
    color: bisque;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

header{
    height: 50px;
    width: 100vw;
    padding-left: 10px;
    padding-top:10px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.yearButton, .monthButton{
    width: 200px;
    height: 50px;
    background-color:rgb(59, 68, 75);
    border-radius: 50px;
    color: #ffe4c4;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.boxforYear, .boxforMonth {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color:white;
    background-image: url('../images/gtn-druzhba_logo13.png');
    background-repeat: repeat;
    background-position: center;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.boxforMonth{
    padding-top: 100px;
}

.docsPack{
    width: 100vw;
    height: 100%;
}

.yearBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.docRow{
    width: 1200px;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: rgb(59, 68, 75);
}

.imageBoxDoc{
    width: 80px;
    height: 80px;
    background-image: url('../images/icons8-book-64.png');
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.textBoxDoc{
    text-align: center;
    line-height: 64px;
}

.boxforMonth header, .boxforDocView header{
    height: 50px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-top:10px;
    margin-bottom: 10px;
}

.boxforDocView{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color:white;
    background-image: url('../images/gtn-druzhba_logo13.png');
    background-repeat: repeat;
    background-position: center;
    padding-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}

.docViewFrame{
    width: 90vw;
    height: 90vh;
}

.boxForDocList{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textBoxNorm{
    width: 1300px;
}

.imageBoxNorm{
    width: 80px;
    height: 80px;
    background-image: url('../images/icons8-law-100.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100px;
}

.docRowNorm{
    width: 1400px;
    height: 80px;
    cursor: pointer;
    display: flex;
    padding-left: 10px;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: rgb(59, 68, 75);
}
